{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Example</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="min-h-full ">
        <nav class=" bg-gray-800">
            <div class=" mx-auto max-w-7xl px-4">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center gap-6">
                        <div class="flex-shrink-0">
                            <img class="h-12 w-12"
                                src="https://tailwindcss.com/_next/static/media/tailwindcss-mark.3c5441fc7a190fb1800d4a5c7f07ba4b1345a9c8.svg"
                                alt="your company">
                        </div>
                        <div className="hidden md:block">
                            <div className="ml-10 flex items-baseline space-x-4">
                                <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
                                    hx-get="/" hx-target="#content" hx-swap="innerHTML">Home</a>
                                <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
                                    hx-get="/multi-select" hx-target="#content" hx-swap="innerHTML">Multi select</a>
                                <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
                                    hx-get="/external-api" hx-target="#content" hx-swap="innerHTML">External Api</a>
                                <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium cursor-pointer"
                                    hx-get="/web-socket" hx-target="#content" hx-swap="innerHTML">Web Socket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main id="content">
        {{ template "content" . }}
    </main>
</body>

</html>
{{ end }}
